

#taxo-forum-delete{
text-decoration:none;
}

#forum .description {
  font-size: 0.9em;
  margin: 0.5em;
}
#forum td.created, #forum td.posts, #forum td.topics, #forum td.last-reply, #forum td.replies, #forum td.pager {
  white-space: nowrap;
}
#forum td.posts, #forum td.topics, #forum td.replies, #forum td.pager {
  text-align: center;
}
.forum-topic-navigation {
  padding: 1em 0 0 3em;
  border-top: 1px solid #888;
  border-bottom: 1px solid #888;
  text-align: center;
  padding: 0.5em;
}
.forum-topic-navigation .topic-previous {
  text-align: right;
  float: left;
  width: 46%;
}
.forum-topic-navigation .topic-next {
  text-align: left;
  float: right;
  width: 46%;
}

#forum td.active {
  background-color: #333333;
}
